<header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <a href="#left-link" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
  </div>
  <h1 class="am-header-title">Sparrow Admin Center</h1>
  <div class="am-header-right am-header-nav am-dropdown" data-am-dropdown>
    <a href="#right-link" class="am-dropdown-toggle" data-am-dropdown-toggle>
      <i class="am-header-icon am-icon-ellipsis-v"></i>
    </a>
    <ul class="am-dropdown-content">
      <li id="full_screen_page"><a href="#"><i class="am-icon-arrows-alt"></i><span>全屏模式</span></a></li>
      <li><a href="#"><i class="am-icon-eraser"></i><span>清除缓存</span></a></li>
      <li><a href="#"><i class="am-icon-gear am-icon-spin"></i><span>系统设置</span></a></li>
      <li><a href="#"><i class="am-icon-sign-out"></i><span>退出登录</span></a></li>
    </ul>
  </div>
</header>
