.tpl-header-logo {
  width: 240px;
  height: 57px;
  display: table;
  text-align: center;
  position: relative;
  z-index: 1300;
}
.tpl-header-logo a {
  display: table-cell;
  vertical-align: middle;
}
.tpl-header-logo img {
  width: 170px;
}
.tpl-header-fluid {
  margin-left: 240px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
}
.tpl-header-switch-button {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #cfcfcf;
  margin-left: -20px;
  margin-right: 0;
  border: 0;
  border-radius: 0;
  padding: 0px 22px;
  font-size: 22px;
  line-height: 55px;
}
.tpl-header-switch-button:hover {
  outline: none;
}
@media screen and (max-width: 1024px) {
  .tpl-header-logo {
    float: none;
    width: 100%;
  }
  .tpl-header-fluid {
    border-top: none;
    margin-left: 0;
  }
}
