<!-- 侧边导航栏 -->
<div class="left-sidebar">
  <!-- 用户信息 -->
  <div class="tpl-sidebar-user-panel">
    <div class="tpl-user-panel-slide-toggleable">
      <div class="tpl-user-panel-profile-picture">
        <img src="../../assets/images/user04.png" alt="">
      </div>
      <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
      <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
    </div>
  </div>

  <!-- 菜单 -->
  <ul class="sidebar-nav">
    <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 系统设置</span></li>
    <!-- 仪表盘 -->
    <li class="sidebar-nav-link">
      <a routerLink="/business/dashboard" routerLinkActive="active">
        <i class="am-icon-dashboard sidebar-nav-link-logo"></i> 仪表盘
      </a>
    </li>

    <!-- 系统组织管理 -->
    <li class="sidebar-nav-link">
      <a href="javascript:;" (click)="openSystemOrgList()">
        <i class="am-icon-table sidebar-nav-link-logo"></i> 系统组织管理
        <span [ngClass]="{'am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico': true, 'sidebar-nav-sub-ico-rotate': systemOrgFlag}"></span>
      </a>
      <ul [ngClass]="{'sidebar-nav': true, 'sidebar-nav-sub': systemOrgFlag, 'am-hide': !systemOrgFlag, 'am-show': systemOrgFlag}">
        <li class="sidebar-nav-link">
          <a href="table-list.html" class="sub-active">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 系统管理
          </a>
        </li>

        <li class="sidebar-nav-link">
          <a href="table-list-img.html">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 组织管理
          </a>
        </li>
      </ul>
    </li>

    <!-- 用户角色管理 -->
    <li class="sidebar-nav-link">
      <a href="javascript:;" (click)="openUserRoleList()">
        <i class="am-icon-table sidebar-nav-link-logo"></i> 用户角色管理
        <span [ngClass]="{'am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico': true, 'sidebar-nav-sub-ico-rotate': userRoleFlag}"></span>
      </a>
      <ul [ngClass]="{'sidebar-nav': true, 'sidebar-nav-sub': userRoleFlag, 'am-hide': !userRoleFlag, 'am-show': userRoleFlag}">
        <li class="sidebar-nav-link">
          <a href="table-list.html" class="sub-active">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户管理
          </a>
        </li>

        <li class="sidebar-nav-link">
          <a href="table-list-img.html">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 角色管理
          </a>
        </li>
      </ul>
    </li>

    <!-- 资源权限管理 -->
    <li class="sidebar-nav-link">
      <a href="javascript:;" (click)="openResPemisList()">
        <i class="am-icon-table sidebar-nav-link-logo"></i> 资源权限管理
        <span [ngClass]="{'am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico': true, 'sidebar-nav-sub-ico-rotate': resPemisFlag}"></span>
      </a>
      <ul [ngClass]="{'sidebar-nav': true, 'sidebar-nav-sub': resPemisFlag, 'am-hide': !resPemisFlag, 'am-show': resPemisFlag}">
        <li class="sidebar-nav-link">
          <a href="table-list.html" class="sub-active">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 资源管理
          </a>
        </li>

        <li class="sidebar-nav-link">
          <a href="table-list-img.html">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限管理
          </a>
        </li>
      </ul>
    </li>

    <!-- 权限分配管理 -->
    <li class="sidebar-nav-link">
      <a href="javascript:;" (click)="openPemisDistrList()">
        <i class="am-icon-table sidebar-nav-link-logo"></i> 权限分配管理
        <span [ngClass]="{'am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico': true, 'sidebar-nav-sub-ico-rotate': pemisDistrFlag}"></span>
      </a>
      <ul [ngClass]="{'sidebar-nav': true, 'sidebar-nav-sub': pemisDistrFlag, 'am-hide': !pemisDistrFlag, 'am-show': pemisDistrFlag}">
        <li class="sidebar-nav-link">
          <a href="table-list.html" class="sub-active">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 角色权限分配管理
          </a>
        </li>

        <li class="sidebar-nav-link">
          <a href="table-list-img.html">
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户权限分配管理
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
