<!-- 头部 -->
<header class="am-topbar am-topbar-inverse">
  <!-- logo -->
  <div class="am-fl tpl-header-logo">
    <a href="javascript:;"><span class="am-text-lg">Admin Center</span></a>
  </div>
    <!-- 右侧内容 -->
    <div class="tpl-header-fluid">
      <!-- 侧边切换 -->
      <div class="am-fl tpl-header-switch-button am-icon-list am-hide-lg-only" (click)="clicks()">
        <span></span>
      </div>
    <!-- 其它功能-->
    <div class="am-fr tpl-header-navbar">
      <ul>
        <!-- 欢迎语 -->
        <li class="am-text-sm tpl-header-navbar-welcome">
          <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
        </li>
        <!-- 系统切换 -->
        <li class="am-dropdown" data-am-dropdown>
          <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
            <i class="am-icon-dropbox"></i>
          </a>
          <!-- 弹出列表 -->
          <ul class="am-dropdown-content tpl-dropdown-content">
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-line-chart"></i>
                  <span> 权限管理系统</span>
                </div>
              </a>
            </li>
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-line-chart"></i>
                  <span> 内容管理系统</span>
                </div>
              </a>
            </li>
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-line-chart"></i>
                  <span> 用户管理系统</span>
                </div>
              </a>
            </li>
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-line-chart"></i>
                  <span> 支付管理系统</span>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <!-- 系统设置 -->
        <li class="am-dropdown" data-am-dropdown>
          <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
            <i class="am-icon-ellipsis-v"></i>
          </a>
          <!-- 弹出列表 -->
          <ul class="am-dropdown-content tpl-dropdown-content">
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-arrows-alt"></i>
                  <span>全屏模式</span>
                </div>
              </a>
            </li>
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-eraser"></i>
                  <span>清除缓存</span>
                </div>
              </a>
            </li>
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-gear am-icon-spin"></i>
                  <span>系统设置</span>
                </div>
              </a>
            </li>
            <li class="tpl-dropdown-menu-system">
              <a href="javascript:;" class="tpl-dropdown-menu-system-item am-cf">
                <div class="tpl-dropdown-menu-system-title">
                  <i class="am-icon-sign-out"></i>
                  <span>退出登录</span>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
