/** header */
header {
  z-index: 1200;
  position: relative;
}
/** header-logo */
.tpl-header-logo {
  width: 240px;
  height: 57px;
  display: table;
  text-align: center;
  position: relative;
  z-index: 1300;
}
.tpl-header-logo a {
  display: table-cell;
  vertical-align: middle;
}
.tpl-header-logo img {
  width: 170px;
}
/** right content */
.tpl-header-fluid {
  margin-left: 240px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
}
.tpl-header-switch-button {
  margin: 0 0 0 -20px;
  float: left;
  color: #cfcfcf;
  border: 0;
  border-radius: 0;
  padding: 0 22px;
  font-size: 22px;
  line-height: 55px;
}
.tpl-header-switch-button:hover {
  outline: none;
}

.tpl-header-navbar {
  color: #0e90d2;
}
.tpl-header-navbar li {
  float: left;
}
.tpl-header-navbar a {
  line-height: 56px;
  display: block;
  padding: 0 16px;
  position: relative;
}
.tpl-header-navbar a .item-feed-badge {
  position: absolute;
  top: 9px;
  left: 25px;
}
ul.tpl-dropdown-content {
  margin-top: 0;
  width: auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0.3em;
}
ul.tpl-dropdown-content li {
  float: none;
}
ul.tpl-dropdown-content:before,
ul.tpl-dropdown-content:after {
  display: none;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-system-title {
  font-size: 16px;
  float: left;
  color: rgba(51, 51, 51, 1);
}
ul.tpl-dropdown-content .tpl-dropdown-menu-system-item {
  padding: 6px;
  color: #333;
  line-height: 20px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.15);
}
ul.tpl-dropdown-content .tpl-dropdown-menu-system-item:hover,
ul.tpl-dropdown-content .tpl-dropdown-menu-system-item:focus {
  background-color: #f6f6f6;
  color: #333;
}



@media screen and (max-width: 1024px) {
  .tpl-header-logo {
    float: none;
    width: 100%;
  }
  .tpl-header-fluid {
    border-top: none;
    margin-left: 0;
  }
  .tpl-header-navbar-welcome {
    display: none;
  }
}
