.tpl-content-wrapper {
  transition: all 0.4s ease-in-out;
  position: relative;
  margin-left: 240px;
  z-index: 1101;
  min-height: 922px;
  border-bottom-left-radius: 3px;
  background: #e9ecf3;
}
.tpl-content-wrapper.xs-active {
  margin-left: 240px;
}
.tpl-content-wrapper.active {
  margin-left: 0;
}
.container-fluid {
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 20px;
  border-bottom: 0;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}




@media screen and (max-width: 1024px) {
  .tpl-content-wrapper {
    margin-left: 0;
  }
}
