.toast-container {
  position: absolute;
  z-index: 22222;
  margin-top:10px;
  width:450px;
}

.toast-top-left{
  left: 10px;
  top:0;
}

.toast-top-center{
  top:0;
  left: -moz-calc( 50% - 225px);
  left: -webkit-calc( 50% - 225px);
  left: calc( 50% - 225px);
}

.toast-top-right{
  top:0;
  right: 10px
}


.toast-bottom-right{
  right: 10px;
  bottom:0;
}

.toast-bottom-left{
  left: 10px;
  bottom:0;
}
